*{
margin: 0;
padding: 0;
box-sizing: border-box;
}



.Team-draw{
display: flex;
height:100vh;
flex-direction: column;
padding-top: 20px;
}



 h2{
text-align: center;
font-size: larger;

}

.top{
  margin-top:20px ;
height: 26vh;
text-align: center;


}


.half{

width: 100vw;
height:9vh;
text-align: center;


}
.top button{
height: 40px;
width: 100px;
align-self: center;
}

.leter{
background-color:aliceblue;
padding: 12px 5px;
font-size: 15px;
height: 8vh;
}
.Dluck{

background-color: chocolate;
}



input{
  width:30%;
  min-width: 60px;
  
  height: 30px;
 text-align: center;

  margin-top: 10px;
}
button{
  cursor: pointer;


}
